.sidebar-menu {
    position: absolute;
    left: 3vw;
    background: black;
    width: 14vw;
    height: 100vh;
    
}

.sidebar-menu ul {
    top: 20vh;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu h3 {
    color: white;
    padding: 1vh 0 7vh 0;
    text-align: center;
    width: 100%;
}

.sidebar-menu li {
    margin: 12px 0 0 0px;
}

.sidebar-menu a {
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 25px;
    color: white;
    padding: 5px;
    position: relative;
    transition: .3s linear;
}

.sidebar-menu a:hover {
    background: #ffc31f;
    color: black;
}

.center-form {
    position: relative;
    left: 41vw;
    top: 40vh;
}

.caption {
    font-size: 700%; 
    position:absolute;
    top: 20vh;
    left: 39vw;
}

.list-errors ul {
    list-style: none;
    color: red;
}

.greeting {
    position: absolute;
    font-size: 150%;
    font-weight: bold;
    margin-top: 1%;
    left: 50%;
}

.size-button {
    width: 60px;
    height: 60px;
    text-align: center;
}