<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

</head>
<body>
    <!--меню-->
    <div style="position:absolute; left:70vw; width:30vw;">
        <span class="greeting">Hello, @User.Identity.Name</span>
        <form asp-action="Logout" asp-controller="Account" style="position:absolute; left:83.5%; ">
            <button class="btn btn-dark" style="margin:5px">Logout</button>
        </form>
    </div>

    <div style="position:absolute; left:18vw; top:7vh">
        @RenderBody()
    </div>

    <div class="sidebar-menu">
        <ul>
            <li><a href="">Лоты</a></li>
            <li><a href="">Ставки</a></li>
            <li><a href="">Профиль</a></li>
        </ul>
    </div>
    
    <div style="position:absolute; top:5vh; width:100vw">
        <nav class="navbar navbar-dark bg-warning justify-content-between">
            <a class="navbar-brand"></a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </div>
    

    <environment names="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
