@model WebAuction.ViewModels.RegisterUser
@{
    ViewData["Title"] = "Registry";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

</head>
<body>
    <h1 class="caption">Auction</h1>
    <div class="text-center" style="position:relative; top:35vh">
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div asp-validation-summary="ModelOnly" class="list-errors"></div>
            <div class="form-group">
                <label asp-for="Email">Enter Email</label><br />
                <input type="email" asp-for="Email" /><br />
                <span asp-validation-for="Email" style="color:red" />
            </div>
            <div class="form-group">
                <label asp-for="Nickname">Enter nickname</label><br />
                <input type="text" asp-for="Nickname" /><br />
                <span asp-validation-for="Nickname" style="color:red" />
            </div>
            <div class="form-group">
                <label asp-for="Name">Enter name</label><br />
                <input type="text" asp-for="Name" /><br />
                <span asp-validation-for="Name" style="color:red" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Enter password</label><br />
                <input asp-for="Password" /><br />
                <span asp-validation-for="Password" style="color:red" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Replace rassword</label><br />
                <input asp-for="ConfirmPassword" /><br />
                <span asp-validation-for="ConfirmPassword" style="color:red" />
            </div>
            <div class="form-group">
                <input type="submit" value="Registration" class="btn btn-dark btn-lg" />
            </div>

        </form>
        <form asp-action="Logout" asp-controller="Account">
            <input type="submit" value="Back" class="btn btn-dark btn-sm" />
        </form>
    </div>
 


    <environment names="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</body>
</html>