@model WebAuction.ViewModels.ChangeProfile
@{
    ViewData["Title"] = "ChangeProfile";
}

<form asp-controller="Profile" asp-action="ChangeProfile" asp-anti-forgery="true">
    <div asp-validation-summary="ModelOnly" class="list-errors offset-6"></div>
    <div class="form-row">
        <div class="form-group col-md-3 offset-6">
            <label>Nickname</label>
            <input asp-for="Nickname" class="form-control">
            <span asp-validation-for="Nickname" style="color:red"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Name user</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" style="color:red"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3 offset-6">
            <label>Email</label>
            <input asp-for="Email" type="email" class="form-control">
            <span asp-validation-for="Email" style="color:red"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Password</label>
            <input asp-for="Password" type="password" class="form-control">
            <span asp-validation-for="Password" style="color:red"></span>
        </div>
    </div>

    <div class="form-inline offset-8">
        <h5 class="mx-1">Score: </h5>
        <div id="results" class="mx-1"><h5>@Model.Cash $</h5></div>
        <div class="ml-10" style="position:relative; left:11px">
            <input type="text" name="name" id="money" min="1" class="form-control mx-4" />
            <input type="submit" class="btn btn-dark" value="Add" style="width:4vw; left:10%" onclick="AddCash()" />
        </div>
    </div>
    
    <script>
        function AddCash() {
            if (parseFloat($("#money").val()) > 0.0) {
                $.ajax({
                    url: '@Url.Action("AddCash", "Profile")',
                    type: "POST",
                    data: "sum=" + $("#money").val(),
                    success: function (response) {
                        $("#results").empty();
                        $("#results").append("<h5>" + response + " $</h5>");
                        if ('@Model.Nickname' == '@User.Identity.Name') {
                            $("#ScoreProfile").empty();
                            $("#ScoreProfile").append("<h5>" + response + " $ </h5>");
                        }
                    }
                });
            }
        }
    </script>

    <div class="offset-11">
        <input type="submit" class="btn btn-dark offset-5 mt-2" value="Save" style="width:4vw;" />
    </div>
</form>

